# ---------------------------
# Windows
# ---------------------------
Thumbs.db
Desktop.ini

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# Windows Event Logs
# ---------------------------
*.evtx

# ---------------------------
# Packet Captures
# ---------------------------
*.pcap
*.pcapng

# ---------------------------
# Archives
# ---------------------------
*.zip
*.7z
*.rar

# ---------------------------
# Virtual Machines
# ---------------------------
*.vdi
*.vmdk
*.ova
*.vbox

# ---------------------------
# Temporary Files
# ---------------------------
*.tmp
*.bak